/* Settings */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "settings/reset.css";
@import "settings/variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/badge.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/alt-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chatting.css";
@import "screens/chats.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: white;
  background-color: var(--nomad-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

.main-screen {
  padding: 0 var(--horizontal-space);
}

img {
  object-fit: cover;
}
