:root {
  --orange: #ff9502;
  --dark-gray: #777777;
  --light-gray: #f3f3f3;
  --green: #00cd3b;
  --red: #ff6128;
  --blue: #2b82d5;
  --pink: #f56870;
  --horizontal-bar: 1px solid var(--light-gray);
}
