.new-alarm {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ff6128;
  position: absolute;
}

.new-alarm__number {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8px;
}
